<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">

<head>
  <meta charset=""UTF-8>
  <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/addNewUser}" th:object="${user}">
  <label for="name">Name: </label>
  <input type="text" th:field="*{firstname}" id="name">
  <br>
  <br>
  <label for="lastname">Last name: </label>
  <input type="text" th:field="*{lastname}" id="lastname">
  <br>
  <br>
  <label for="username">Username: </label>
  <input type="text" th:field="*{username}" id="username">
  <br>
  <br>
  <label for="password">Password: </label>
  <input type="text" th:field="*{password}" id="password" th:value="123">
  <br>
  <br>



  <p>Roles</p>
  <input type="checkbox" id="admin" th:field="*{roles}" name="admin" value="2">
  <label for="admin">Admin</label><br>
  <input type="checkbox" id="user" th:field="*{roles}" name="user" value="1">
  <label for="user">User</label><br>

  <br>
  <br>
  <br>
  <input type="submit" value="Create">

</form>




</body>
</html>